/* body{
    background: #f3f3f3;
} */

body {
    background-image: url("/static/img/home-main-back.5b7e7566.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.main{
    background: #fff;
    width: 66%;
    margin: 50px auto;
    overflow: hidden;
    padding: 10px
}

.back-to-top{
    position:fixed;
    right: 50px;
    bottom: 50px;
}



